
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model yourpriority.Models.Contact
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/Home/Index">Home</a></li>
                        <li class="active">Contact us</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-grayblack pinside30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h1 class="page-title"><span class="heading-color">Contact</span> Us</h1>
                        </div>
                    </div>
                </div>
                <!-- <div class="sub-nav" id="sub-nav">
                   <ul class="nav nav-justified">
                        <li class="nav-item">
                            <a href="contact-us.html" class="nav-link">Give me call back</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Emi Caculator</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="contact-us mb60 bg-grayblack wrapper-content">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="mb60  section-title">
                                <!-- section title start-->

                            </div>
                            <!-- /.section title start-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                            <div class="bg-boxshadow pinside20 outline text-center mb30 ml10">
                                <!-- <div class="mb40"><i class="icon-briefcase icon-2x icon-default"></i></div> -->
                                <h2 class="capital-title">Tamworth Office</h2>
                                <p style="margin: 0;">Mon-Fri 9:00am - 5:00pm</p>
                                <p class="" style="margin: 0;">
                                    <span class="highlight">A:</span>
                                    <span class="detail">214 Marius Street</span>,
                                    <span class="detail"> Tamworth</span>
                                    <span class="detail"> NSW</span>
                                    <span class="detail"> 2340</span>
                                </p>

                                <p class="" style="margin: 0;">
                                    <span class="highlight">A:</span>
                                    <a class="tel" href="tel:%2802%29%206766%209727">(02) 6766 9727</a>
                                </p>
                                <p class="" style="margin: 0;">
                                    <span class="highlight">A:</span>
                                    <span> (02) 6766 9613</span>
                                </p>
                                <p style="margin: 0;"><span class="highlight">E:</span> <a href="mailto:info@yourpriority.com.au">info@yourpriority.com.au</a></p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 p-0">
                            <div class="bg-boxshadow pinside20 outline text-center mb30 ">
                                <!-- <div class="mb40"><i class="icon-briefcase icon-2x icon-default"></i></div> -->
                                <h2 class="capital-title">Hunter Coast Office</h2>
                                <p style="margin: 0;">Mon-Fri 9:00am - 5:00pm</p>
                                <p class="" style="margin: 0;">
                                    <span class="highlight">A:</span>
                                    <span class="detail">Suite 1 115 Elder Street, Lambton NSW 2299</span>
                                </p>
                                <p class="" style="margin: 0;">
                                    <span class="highlight">A:</span>
                                    <a class="tel" href="tel:%2802%29%204967%205256" itemprop="telephone">(02) 4967 5256</a>
                                </p>


                                <p class="" style="margin: 0;">
                                    <span class="highlight">F:</span>
                                    <span> (02) 6766 9613</span>
                                </p>
                                <p style="margin: 0;"><span class="highlight">E:</span> <a href="mailto:info@yourpriority.com.au">info@yourpriority.com.au</a></p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                            <div class="bg-boxshadow pinside20 outline text-center mb30 height-box mr10">

                                <h2 class="capital-title">Stay Connected</h2>
                                <div class="site-links">

                                    <a class="site-link facebook icon" rel="noopener noreferrer" target="_blank" itemprop="sameAs" href="https://www.facebook.com/PriorityHomeLoans/">
                                        <img src="https://keo-cms.appspot.com.storage.googleapis.com/sites/priorityhl/app_files/img/social_link_icons/blue/facebook.svg" class="social-link-icon" alt="Find us on Facebook" title="Find us on Facebook">

                                    </a>

                                    <a class="site-link linkedin icon" rel="noopener noreferrer" target="_blank" itemprop="sameAs" href="https://www.linkedin.com/company/priority-home-loans">
                                        <img src="https://keo-cms.appspot.com.storage.googleapis.com/sites/priorityhl/app_files/img/social_link_icons/blue/linkedin.svg" class="social-link-icon" alt="Connect with us on Linkedin" title="Connect with us on Linkedin">

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-content bg-grayblack pinside40">


                    <div class="contact-form mb60">
                        <div class=" ">
                            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                                <div class="mb60  section-title text-center  ">
                                    <!-- section title start-->
                                    <h1>Get In Touch</h1>

                                </div>
                            </div>

                            <form class="contact-us" method="post" action="">
                                <div class=" ">
                                    <!-- Text input-->
                                    <div class="row">
        @*<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="form-group">
                <label class="sr-only control-label" for="name">name<span class=" "> </span></label>
                <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required>
            </div>
        </div>
        <!-- Text input-->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="form-group">
                <label class="sr-only control-label" for="email">Email<span class=" "> </span></label>
                <input id="email" name="email" type="email" placeholder="Email" class="form-control input-md" required>
            </div>
        </div>
        <!-- Text input-->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="form-group">
                <label class="sr-only control-label" for="phone">Phone<span class=" "> </span></label>
                <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control input-md" required>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="form-group">
                <select class="form-control form-control-lg">
                    <option>Regarding</option>
                    <option>General Enquiry</option>
                    <option>Home Loan</option>
                    <option>Commercial & Leasing</option>
                    <option>Business Loans</option>
                    <option>Pre-approvals</option>
                    <option>Refinancing</option>
                    <option>First Home Buyers</option>
                    <option>Investment Loans</option>
                    <option>Construction Loans</option>
                    <option>Deposit Bonds</option>
                    <option>Car and Equipment</option>
                </select>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="form-group">

                <select class="form-control form-control-lg">
                    <option>Your Closest Office</option>
                    <option>Tamworth</option>
                    <option>Hunter Coast</option>
                </select>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="form-group">
                <select class="form-control form-control-lg " aria-label="Default select example">
                    <option selected>How did you hear of us?</option>
                    <option>Newspaper</option>
                    <option>Radio</option>
                    <option>Web</option>
                    <option>Word of Mouth</option>
                    <option>Other</option>
                </select>
            </div>
        </div>
        <!-- Select Basic -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="form-group">
                <label class="control-label" for="message"> </label>
                <textarea class="form-control" id="message" rows="7" name="message" placeholder="Message"></textarea>
            </div>
        </div>
        <!-- Button -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <button type="submit" class="btn btn-default">Send</button>
        </div>*@
                                        @using (Html.BeginForm("MaiResult", "Contact", FormMethod.Post, new { @class = "contactForm" }))
                                                                        {
                                                                            <div class="row">
                                                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                                                    <div class="form-group">
                                                                                        @Html.TextBoxFor(model => Model.Name, new { @class = "form-control input-md", @id = "name", placeholder = "Name", data_rule = "minlen:4", data_msg = "Please enter at least 4 chars" })
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                                                    <div class="span4 form-group">
                                                                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-md", @id = "email", placeholder = "Email", data_rule = "email", data_msg = "Please enter a valid email" })
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                                                    <div class="span4 form-group">
                                                                                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control input-md", @id = "email", placeholder = "Phone", data_rule = "email", data_msg = "Please enter a valid email" })
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                                                    <div class="span4 form-group">
                                                                                        @Html.TextBoxFor(model => model.Regarding, new { @class = "form-control form-control-lg", @id = "email", placeholder = "Regarding", data_rule = "email", data_msg = "Please enter a valid email" })
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                                                    <div class="span4 form-group">
                                                                                        @Html.TextBoxFor(model => model.Office, new { @class = "form-control form-control-lg", @id = "email", placeholder = "Your Closest Office", data_rule = "email", data_msg = "Please enter a valid email" })
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                                                    <div class="span4 form-group">
                                                                                        @Html.TextBoxFor(model => model.Refference, new { @class = "form-control form-control-lg", @id = "email", placeholder = "How did you hear of us?", data_rule = "email", data_msg = "Please enter a valid email" })
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                                    <div class="form-group">
                                                                                        @Html.TextAreaFor(model => model.Refference, new { @class = "form-control form-control-lg", @id = "email", placeholder = "Message", data_rule = "email", data_msg = "Please enter Message" })
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                                    <button class="btn btn btn-default" type="submit">Send</button>
                                                                                </div>
                                                                                </div>
                                                                        }
                                        </div>
                                </div>
                            </form>

                     
                            </div>
                    </div>




                    <!-- /.section title start-->
                </div>


            </div>
        </div>
    </div>
</div>

